.prediction-table{
    max-width: 1050px;
    margin: auto ;
    background-color: whitesmoke;
    border-radius: 6px;
    
    margin-bottom: 20px;
    margin-top: -22px;
    padding-bottom: 16px;
     
    overflow-x: auto;
    
    
     
}

.prediction-table table{
    margin: 10px 5px;
    border-collapse: collapse;
    border-spacing: 1px;
    border-radius: 3px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
 
.prediction-table th{
    
    background-color:#1e272e;
   padding: 10px;
   
   color: #fff;
   margin: 1px;
}
.prediction-table td{
    
     padding: 10px;
     margin: 1px;
}